.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px 15px;

}
.wrapper {
  margin-top: 20px;
  width: 50%;

}
mat-card{
  padding: 10px 15px;

}
mat-form-field{
    margin-top: 5px;
}
@media screen And (max-width:788px) {
  .wrapper{
    width: 100%;
  }
}