<div class="container">
  <div class="wrapper">
    <mat-card>
      <form action="" [formGroup]="form">
        <mat-card-title fxLayout="row" fxLayoutAlign="center center">Login</mat-card-title>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field fxFlexFill>
            <mat-label>UserName</mat-label>
            <input type="text" matInput formControlName="username">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field fxFlexFill>
          <mat-label>password</mat-label>
          <input type="text" matInput formControlName="password">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="accent" type="button" (click)="submit()">Sumit</button>
      </div>
    </form>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>